body {
  font-family: Avenirltstd, sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2.4em;
  line-height: 1.2em;
  font-weight: 300;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

p {
  margin-bottom: 10px;
  font-family: 'Avenirltstd roman', sans-serif;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
}

.hero-section {
  min-height: 90vh;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffbf7;
}

.navigation.black {
  background-color: #000;
}

.slide-nav {
  display: none;
}

.right-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow {
  width: 25px;
}

.slider {
  z-index: 1;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  width: 25px;
}

.consolidated-logo {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  position: relative;
  z-index: 20;
  width: 420px;
}

.banner__slide {
  background-image: var(--image-i1c838bb);
  background-position: 50% 50%;
  background-size: cover;
}

.banner__slide.m__uni {
  background-image: var(--image-4884bff9);
}

.banner__slide.m__uni2 {
  background-image: var(--image-i3fb8dbe0);
  background-position: 50% 40%;
}

.slide-2 {
  background-image: var(--image-71548872);
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: var(--image-5bcebbc4);
  background-position: 0px 0px;
  background-size: cover;
}

.container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-4 {
  width: 170px;
  margin-bottom: 2px;
}

.hamburger-menu {
  padding: 10px;
}

.menu-line-top {
  width: 25px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 20px;
  background-color: #000;
}

.menu-line-top.white {
  background-color: #fffbf7;
}

.menu-line-middle {
  width: 25px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 20px;
  background-color: #000;
}

.menu-line-middle.white {
  background-color: #fffbf7;
}

.menu-line-bottom {
  width: 25px;
  height: 2px;
  border-radius: 20px;
  background-color: #000;
}

.menu-line-bottom.white {
  background-color: #fffbf7;
}

.section {
  background-color: #fffbf7;
}

.section.black {
  background-color: #000;
}

.content-container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
}

.content-container.footer {
  padding-top: 40px;
  padding-bottom: 80px;
  border-top: 1px solid #000;
}

.content-container.footer.black {
  border-top-color: #fffbf7;
}

.content-container.padding-btm {
  padding-bottom: 120px;
}

.spacer {
  width: 100%;
  height: 80px;
}

.spacer.sml {
  height: 40px;
}

.about_slioe_2 {
  background-image: var(--image-i670b2c1c);
  background-position: 50% 50%;
  background-size: cover;
}

.slider-2 {
  min-height: 600px;
}

.slide-nav-2 {
  display: none;
}

.about_slioe_1 {
  background-image: var(--image-84ea34b);
  background-position: 0px 0px;
  background-size: cover;
}

.about_slioe_3 {
  background-image: var(--image-2d9dcb46);
  background-position: 0px 0px;
  background-size: cover;
}

._2-col-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-col-grid._1 {
  margin-bottom: 80px;
  -ms-grid-columns: 1.4fr 1fr;
  grid-template-columns: 1.4fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-col-grid._1.projects {
  margin-bottom: 0px;
  padding-bottom: 80px;
}

._2-col-grid.about {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-col-grid.about.mrgn-btm {
  margin-bottom: 120px;
}

._2-col-grid.project {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._2-col-grid.clients {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content-block.line-bottom {
  border-bottom: 1px solid #000;
}

.content-block.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-block.flex.project {
  color: #000;
  text-decoration: none;
}

.dropdown-container {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 0.25fr 1fr 0.25fr;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  color: #333;
  text-decoration: none;
}

.plus-icon {
  position: relative;
  width: 15px;
  height: 15px;
}

.vertical-line {
  position: absolute;
  left: 47%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 1px;
  height: 15px;
  border-radius: 20px;
  background-color: #333;
}

.no-mrgn {
  margin-bottom: 0px;
}

.no-mrgn.dropdown {
  margin-top: 15px;
  margin-bottom: 15px;
}

.no-mrgn.lrg {
  margin-top: 20px;
}

.no-mrgn.lrg.in-line {
  display: inline-block;
}

.no-mrgn.mrgn-right {
  margin-right: 10px;
}

.no-mrgn._2-coll {
  -webkit-column-count: 2;
  column-count: 2;
}

.no-mrgn.in-line {
  display: inline;
}

.no-mrgn.sml {
  font-size: 0.8em;
}

.horizontal-line {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 1px;
  border-radius: 20px;
  background-color: #333;
}

.top-dropdown {
  display: -ms-grid;
  display: grid;
  padding-top: 15px;
  padding-bottom: 15px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.25fr 1fr 0.25fr;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-top: 1px solid #000;
}

.bottom-dropdown {
  overflow: hidden;
}

.project-thumbanil {
  height: 60vh;
  background-image: var(--image-7b40fadb);
  background-position: 50% 50%;
  background-size: cover;
}

.project-thumbanil.sml {
  height: 35vh;
}

.in-line-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.image-5 {
  width: 16px;
  margin-bottom: 2px;
}

.footer {
  background-color: #fffbf7;
}

.footer.black {
  background-color: #000;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-grid.top {
  margin-bottom: 20px;
}

.menu {
  z-index: 110;
  width: 30%;
  background-color: rgba(255, 251, 247, 0.6);
}

.menu-slide-out {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 9999999;
  display: none;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#000), color-stop(50%, #000), color-stop(0, transparent));
  background-image: linear-gradient(90deg, #000, #000 50%, transparent 0);
}

.body {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.content-main {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.page-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transform: translate(40%, 0px);
  -ms-transform: translate(40%, 0px);
  transform: translate(40%, 0px);
}

.close-icon {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  min-height: 10vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-link {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-decoration: none;
}

.menu-link:hover {
  opacity: 0.5;
}

.menu-link.w--current {
  opacity: 0.5;
}

.white {
  color: #fff;
  text-decoration: none;
}

.menu-container {
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.link-block {
  padding: 10px;
}

.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  width: 40%;
}

.link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  text-decoration: none;
}

.link:hover {
  opacity: 0.5;
}

.link.white {
  color: #fffbf7;
}

.about-us-content-block {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #000;
}

.about-us-content-block.last {
  border-bottom: 1px solid #000;
}

.image-6 {
  width: 340px;
}

.padding-right {
  padding-right: 80px;
}

.mrgn-top {
  margin-top: 0px;
}

.project-slider {
  min-height: 600px;
}

.slide-project {
  background-image: var(--image-7b40fadb);
  background-position: 50% 50%;
  background-size: cover;
}

.gallery-of-images-project {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.project-images {
  width: 100%;
}

.collection-list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link-to-project {
  display: block;
  color: #333;
  text-decoration: none;
}

.mrgn-topp {
  margin-top: 10px;
}

.collection-list-wrapper {
  padding-bottom: 80px;
}

.heading-white {
  color: #fffbf7;
}

.paragraph-white {
  color: #fffbf7;
  text-align: left;
}

.paragraph-grey {
  color: #bdbdbd;
}

.text-field {
  min-height: 50px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fffbf7;
}

.text-field:hover {
  border-color: rgba(255, 251, 247, 0.5);
}

.text-field.lrg {
  min-height: 150px;
}

.button {
  width: 100%;
  min-height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background-color: rgba(255, 251, 247, 0);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fffbf7;
}

.button:hover {
  background-color: #fffbf7;
  color: #000;
}

.block {
  padding: 0px;
  background-color: transparent;
}

.heading.no-mrgn {
  margin-top: 0px;
}

._5_col-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.client-image {
  max-height: 150px;
  max-width: 150px;
}

.client-image.opacity {
  opacity: 0.8;
}

.empty-state {
  display: none;
}

.empty-state-2 {
  display: none;
}

@media screen and (max-width: 991px) {
  .image-3 {
    width: 360px;
  }

  .container.flex {
    width: 100%;
    max-width: none;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .content-container {
    max-width: 738px;
  }

  ._2-col-grid {
    -ms-grid-columns: 0.6fr 1fr;
    grid-template-columns: 0.6fr 1fr;
  }

  .content-block.mobile {
    display: none;
  }

  .project-thumbanil {
    height: 40vh;
  }

  .menu-slide-out {
    padding-left: 20px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
    background-image: linear-gradient(180deg, #000, #000);
  }
}

@media screen and (max-width: 767px) {
  .image-3 {
    width: 320px;
  }

  .content-container {
    max-width: 548px;
  }

  .slider-2 {
    min-height: 380px;
  }

  ._2-col-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._2-col-grid._1.projects {
    grid-row-gap: 15px;
    -ms-grid-columns: 1.4fr;
    grid-template-columns: 1.4fr;
  }

  ._2-col-grid.about {
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  ._2-col-grid.clients {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .content-block.mobile {
    display: none;
  }

  .no-mrgn.lrg.in-line {
    margin-top: 0px;
  }

  .project-thumbanil {
    height: 60vh;
  }

  .in-line-link {
    margin-top: 10px;
  }

  .about-us-content-block.last {
    border-bottom-style: none;
  }

  .heading {
    font-size: 1.8em;
  }

  ._5_col-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .left-arrow {
    width: 50px;
  }

  .arrow {
    width: 15px;
  }

  .image-3 {
    display: none;
    width: 160px;
  }

  .content-container {
    max-width: none;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  ._2-col-grid.clients {
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .no-mrgn._2-coll {
    -webkit-column-count: 1;
    column-count: 1;
  }

  .project-thumbanil {
    height: 40vh;
  }

  .footer-grid {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .project-slider {
    min-height: 300px;
  }

  .collection-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 1.4em;
  }
}

#w-node-ab7584ec-7f9f-556d-ba02-c89c987690cd-2af5d16b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-ada0f197-0b79-10e5-813f-058410198d82-2af5d16b {
  -ms-grid-column-align: stretch;
  justify-self: stretch;
}

#w-node-_2fb28db2-3644-6030-048c-d1fb0ba906b3-2af5d16b {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_827646c3-fd06-5de1-7da7-6ab5010dcb2f-2af5d16b {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b5ff8f98-2fd1-4259-cb58-0609fdac2102-2af5d16b {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_9f42292f-2e6c-a246-36d2-ad60086f73fb-2af5d16b {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-dc365d3f-d39b-a147-5453-b43bdeb71d7e-deb71d67 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-b9289ba1-d50c-d25e-cc62-f53bba55ed9b-deb71d67 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-ab7584ec-7f9f-556d-ba02-c89c987690cd-b0f5d16d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-_9d50e769-391e-5c86-52da-7ffa13f4ac03-b0f5d16d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 5;
  grid-column-start: span 5;
  -ms-grid-column-span: 5;
  grid-column-end: span 5;
}

#w-node-_72b3ad2d-e9e4-f2a6-3a68-aeced87cee3c-b0f5d16d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_7cf87738-81d2-ec50-fec2-2b15720b72c9-b0f5d16d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_4c1abf5f-4996-cbd8-97bd-5a681f8c326d-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_1a9bf820-f5d5-9093-cddc-9617f2e97787-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-dc00d9ac-e084-2058-033f-ae974819db13-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_4baeda02-b708-15cf-a2bd-8cc13f38efad-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-cf21139e-f606-b0b3-c863-ffe13d3ba592-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_6a28ed61-3ce0-ca4e-6f6c-a004fd4fb31b-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_8b882e59-9567-940f-5d65-738327af90e6-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_8ea263ee-b804-8098-f88c-e4b8fe4a4f73-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_0c6dd693-bf6e-de94-4c02-8abf77c6fefc-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_035cc78b-0658-33ca-5b6d-af49fc091615-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_6481bb55-0808-4a4e-fddf-9e1e59cbd2d9-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_9007446c-f310-211c-dd1a-9e19e2dc7f61-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_01a9c029-8ad8-9e8b-d40f-46bf4aabc9e3-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_7a0b4a9a-c866-70d2-a444-8d85ef0df7f6-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_4afe6884-e2f2-5d4e-c6af-83a7d2b1b1ff-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_8de46248-a91b-ecfa-e468-b65592fd3486-b0f5d16d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-ab7584ec-7f9f-556d-ba02-c89c987690cd-9cf5d16e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_57f978ca-4436-2305-6ee2-3516d81dd341-9cf5d16e {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_12c807d4-0810-42cb-4546-c4081f81dbb4-9cf5d16e {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_08ee9986-1b80-52be-a7cb-65fadae28ab1-b2f5d16f {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_64206e7c-0c9b-fac4-7370-51d5da878983-b2f5d16f {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_9f42292f-2e6c-a246-36d2-ad60086f73fb-85f5d170 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
}

#w-node-_9f42292f-2e6c-a246-36d2-ad60086f73fe-85f5d170 {
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_9d50e769-391e-5c86-52da-7ffa13f4ac03-b0f5d16d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 5;
    grid-column-start: span 5;
    -ms-grid-column-span: 5;
    grid-column-end: span 5;
  }

  #w-node-_8ea263ee-b804-8098-f88c-e4b8fe4a4f73-b0f5d16d {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_9f42292f-2e6c-a246-36d2-ad60086f73fb-85f5d170 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_9d50e769-391e-5c86-52da-7ffa13f4ac03-2af5d16b {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-ada0f197-0b79-10e5-813f-058410198d82-2af5d16b {
    -ms-grid-column-align: stretch;
    justify-self: stretch;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_9f42292f-2e6c-a246-36d2-ad60086f73fb-2af5d16b {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-ab7584ec-7f9f-556d-ba02-c89c987690cd-b0f5d16d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_9d50e769-391e-5c86-52da-7ffa13f4ac03-b0f5d16d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_9d50e769-391e-5c86-52da-7ffa13f4ac03-9cf5d16e {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_57f978ca-4436-2305-6ee2-3516d81dd341-9cf5d16e {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-dc365d3f-d39b-a147-5453-b43bdeb71d7e-deb71d67 {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-b9289ba1-d50c-d25e-cc62-f53bba55ed9b-deb71d67 {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_8ea263ee-b804-8098-f88c-e4b8fe4a4f73-b0f5d16d {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_12c807d4-0810-42cb-4546-c4081f81dbb4-9cf5d16e {
    -ms-grid-column-align: start;
    justify-self: start;
  }

  #w-node-_08ee9986-1b80-52be-a7cb-65fadae28ab1-b2f5d16f {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@font-face {
  font-family: 'Avenirltstd';
  src: url("/assets/fonts/avenirltstd-heavy.otf") format('opentype'), url("/assets/fonts/avenirltstd-black.otf") format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Avenirltstd book';
  src: url("/assets/fonts/avenirltstd-book.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url("/assets/fonts/avenirltstd-light.otf") format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Avenirltstd roman';
  src: url("/assets/fonts/avenirltstd-roman.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Avenirltstd';
  src: url("/assets/fonts/avenirltstd-medium.otf") format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}